<!DOCTYPE html>
<html  ng-app="protojson">
<body ng-controller="ProtoCtrl">
<div>
<button ng-click="createContract()">Create Contract</button>
&nbsp;&nbsp;
<button ng-click="updateContract()">Update Contract</button>
&nbsp;&nbsp;
<button ng-click="getContracts()">Find Contract</button> 
&nbsp;&nbsp;
<button ng-click="getOneContract()">Get Contract</button>
&nbsp;&nbsp;
<input ng-model="contractId" id="contractID" type="text" class="ng-pristine ng-untouched ng-valid">
</div>
<br/>
  <ul>
    <li ng-repeat="contract in contracts track by $index">
    {[contract]}
    </li>
  </ul>
 <script src="js/long.js"></script>
 <script src="js/ByteBufferAB.min.js"></script>
  <script src="js/protobuf.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/index.js"></script>  
</body>
</html>
